<div class="rounded-box-company">
	<div>@Invoice.SellerData.Name</div>
</div>
<div class="d-flex flex-column rounded-box-company-contents">
	<div>NR ORC: @Invoice.SellerData.NrOrc</div>
	<div>CUI: @Invoice.SellerData.Cui</div>
	<div>SEDIU: @Invoice.SellerData.Address</div>
	<div>BANCA: @Invoice.SellerData.Bank</div>
	<div>IBAN: @Invoice.SellerData.Iban</div>
	<div>CAPITAL SOCIAL: @Invoice.SellerData.Capital</div>
	<div>TEL/FAX: @Invoice.SellerData.PhoneFax</div>
</div>